.grid {
    display: grid;
    grid-template-columns: 25px 700px 25px;
    grid-template-rows: 150px 150px 70px 150px;
    column-gap: 20px;
    row-gap: 40px;
  }
  
.inputbox{
    border: 100px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 255pxn;
    background-color: rgba(241, 241, 241, 0.98);
    width: 700px;
    height: 150px;
    padding: 20px;
    resize: none;
    grid-column: 2;
    grid-row: 1;
}
.outputbox{
    border: 0.2rem solid #2000d4;
    border-radius: 10px;
    margin-left: 255px;
    background-color: rgba(255, 255, 255, 0.98);
    width: 700px;
    height: 150px;
    padding: 20px;
    resize: none;
    grid-column: 2;
    grid-row: 2;
}
.answerbox{
    border: 0.2rem solid #7e7e7e;
    border-radius: 10px;
    margin-left: 255px;
    background-color: rgba(255, 255, 255, 0.98);
    width: 700px;
    height: 150px;
    padding: 20px;
    resize: none;
    grid-column: 2;
    grid-row: 4;
}
  
  div:nth-child(1) {
    order: 10;
  }
  
  div:nth-child(2) {
    order: 20;
  }
  
  div:nth-child(3) {
    order: 30;
  }
  
  div:nth-child(4) {
    order: 40;
    background: red;
  }
  
  .replaced div:nth-child(4) {
    order: 11;
  }
  .options{
    border: 10px;
    margin-top: 10px; 
    margin-left: 300px;
    border-radius: 10px;
    background-color: rgba(241, 241, 241, 0.98);
    width: 150px;
    height: 100px;
    padding: 10px;
    grid-column: 3;
    grid-row: 1;   
  }
  .options-selected{
    border: 10px;
    font-size: 75%; 
    margin-top: 120px; 
    margin-left: 300px;
    border-radius: 10px;
    background-color: rgba(241, 241, 241, 0.98);
    width: 150px;
    height: 40px;
    padding: 10px;
    grid-column: 3;
    grid-row: 1;   
  }
  .button{
      margin-left: 850px;
      grid-column:2;
      grid-row: 3; 
      width: 100px;
      height: 50px;

  }
  .difficulty-label{
    border: 10px;
    margin-top: 10px; 
    margin-left: 50px;
    border-radius: 10px;
    background-color: rgba(241, 241, 241, 0.98);
    width: 150px;
    height: 100px;
    padding: 10px;
    grid-column: 1;
    grid-row: 1;  

  }